.header {
    grid-area:h;
    background:#26a69a;
    margin:0 10px 10px 0;
    }
.header a{
    display: flex;
    align-items: flex-start;
    }
.header img {
    width: 50px;
    margin:15px;
    }