.textDiv{
    display: flex;
    flex-direction: column;
}
.textDiv textarea {
    overflow:hidden;
  padding:10px;
  width:250px;
  font-size:14px;
  margin:15px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}
.textDiv button {
    border-radius: 10px;
    align-self: center;
    padding: 10px 20px;
    border: 6px solid #556677;
    font-size: medium;
    font-weight: 600;
}